[MASTER]
//load-plugins=pylint_django

//django-settings-module=live.settings

[MESSAGES CONTROL]

disable=line-too-long
        //missing-function-docstring,
        //missing-module-docstring,
        //missing-class-docstring,

[BASIC]

good-names=i,
           j,
           k,
           f,
           g,
           fd,
           ex,
           Run,
