{% extends 'base.html' %}

{% block content %}

<h1>DanWand Webservice</h1>
<br>
<ul>
    <li><a href="/pic/picture">/pic/picture?type=jpeg&quality=85&dias=0&flash=0</a> - get picture in full resolution </li>
    <li><a href="/pic/p_picture">/pic/p_picture?dias=0&flash=0.0</a> - show page with picture </li>
    <li><a href="/pic/cam">/pic/cam?dias=0&flash=0.0&size=xx&maxframerate=xx&quality=85</a> - stream picture</li>
    <li><a href="/pic/p_cam">/pic/p_cam?dias=0&flash=0.0</a> - stream picture on page</li>
    <li><a href="/pic/info">/pic/info</a> - camera picture information</li>
    <li><a href="/2d/2d">/2d/2d?size=nn</a> - take pictures and send to stiching</li>
    <li><a href="/2d/p_2d">/2d/p_2d</a> - show pictures and send to stiching</li>
    <li><a href="/2d/picture">/2d/picture?size=nn</a> - take one pictures and send to stiching</li>
    <li><a href="/3d/3d">/3d/3d?size=nn&no_pictures=config</a> - stream pictures and send 3d scan sets</li>
    <li><a href="/3d/3dtest">/3d/3dtest</a> - stream pictures and send 3d scan sets with different compensation</li>
    <li><a href="/3d/3dias">/3d/3dias?size=nn</a> - stream pictures and send 3d scan sets</li>
    <li><a href="/calibrate/camera">/calibrate/camera</a>Take calibration pictures for dias cal</li>
    <li><a href="/calibrate/test">/calibrate/test</a>Test picture and div camera settings</li>
    <li><a href="/calibrate/light">/calibrate/light</a>Test Flash and Dias led</li>
</ul>
<br>
{% endblock %}
